SUBSYSTEM=="block", KERNEL=="nvme*", ENV{UDISKS_IGNORE}="1", ENV{UDISKS_AUTO}="0"
SUBSYSTEM=="block", KERNEL=="mmcblk*", ENV{UDISKS_IGNORE}="1", ENV{UDISKS_AUTO}="0"
SUBSYSTEM=="block", KERNEL=="sd*", ENV{ID_BUS}!="usb", ENV{UDISKS_IGNORE}="1", ENV{UDISKS_AUTO}="0"
